---
import BaseLayout from "../layouts/BaseLayout.astro";
import Brochure from "../components/Brochure.astro";
---

<BaseLayout title="MyPerol - EPOXI">
  <main>
    <Brochure />
  </main>

</BaseLayout>


