---
import BaseLayout from "../layouts/BaseLayout.astro";
import Brochure from "../components/Brochure.astro";
---

<BaseLayout title="MyPerol | Folleto">
  <main>
    <Brochure />
  </main>
</BaseLayout>

