---
import BaseLayout from "../layouts/BaseLayout.astro";
import Brochure from "../components/Brochure.astro";
---

<BaseLayout
  title="MyPerol - EPOXI"
  description="Landing page de MyPerol con folletos multilingües para conocer soluciones de superficies en resina y epoxi."
>
  <main>
    <Brochure />
  </main>

</BaseLayout>


